@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Teko&family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*
	font-family: 'Poppins', sans-serif;
	font-family: 'Teko', sans-serif;
	font-family: 'Ubuntu Mono', monospace;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.link-eli {
	@apply hover:cursor-pointer hover:scale-105 ease-in-out duration-200;
}

.link-eli-2 {
	@apply hover:cursor-pointer hover:scale-125 ease-in-out duration-200;
}

.input-eli {
	@apply rounded-md px-4 py-4;	
	font-weight: 500;
	color:rgb(185, 185, 180);
	background: rgb(18, 18, 20);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
  height: 100%;
}

body {
  background: rgb(18, 18, 20);
  color: rgb(225, 225, 230);
}

body,
input,
button,
textarea {
	font: 400 16px "Roboto", sans-serif;
}