@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Teko:wght@300;400;500;600;700&family=Ubuntu+Mono:wght@400;700&display=swap');

/*
	font-family: 'Poppins', sans-serif;
	font-family: 'Teko', sans-serif;
	font-family: 'Ubuntu Mono', monospace;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
  height: 100%;
}

body {
  background: rgb(18, 18, 20);
  color: rgb(225, 225, 230);
}

body,
input,
button,
textarea {
	font: 400 16px "Roboto", sans-serif;
}